.location{
    width:80%;
    margin:0;
    padding:80px 0;

}
.location iframe{
    width:100%;
}
.contact-us{
    width:80%;
    margin:auto;
    /* justify-content: space-between; */
}
.contact-col div{
    display:flex;
    align-items:center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color:tomato;
    margin:10px;
    margin-right:30px;

}
.contact-col div p{
    padding: 0;

}
.contact-col div h5{
    font-size:20px;
    margin-bottom: 7px;
    color:#555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width:100%;
    padding: 14px;
    margin-bottom: 18px;
    outline:none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.tt{
    background-color: antiquewhite;
    color:rgb(240, 58, 58);
    width: 150px;
    height: auto;
    padding: 10px;
    font-size: large;
}
.tt:hover{
    cursor: pointer;
    background-color: darkorange;
    font-size: larger;
}
